{# app/Resources/views/admin/art/create.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}Create New Art{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <a href="/admin/art">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a>
            <h3>Art form</h3>
        </div>
        <div class="panel-body">
            <a href="/admin/artists/add">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add New Artist
                </button>
            </a>
        </div>
        {{ form(form) }}
    </div>

{% endblock %}
