<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.6/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         verbose="true"
>

    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="../../build/logs/html" />
        <log type="coverage-clover" target="../../build/logs/clover.xml" />
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

</phpunit>
